@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes heroZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

.animate-hero {
  animation: heroZoom 15s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  opacity: 0;
  animation: fadeDown 0.8s ease forwards;
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

.delay-1 {
  animation-delay: .3s;
}

.delay-2 {
  animation-delay: .6s;
}

.delay-3 {
  animation-delay: .9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.mouse {
  width: 28px;
  height: 46px;

  border: 2px solid rgba(255,255,255,.8);
  border-radius: 999px;

  display: flex;
  justify-content: center;

  padding-top: 8px;
}

.mouse-wheel {
  width: 4px;
  height: 8px;

  background: white;
  border-radius: 999px;

  animation: wheelMove 1.8s infinite;
}

@keyframes wheelMove {

  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(14px);
  }

}